appnope                                 
argon2-cffi                             
argon2-cffi-bindings                    
asttokens                               
async-generator                         
attrs                                   
awscli                                  
backcall                                
beautifulsoup4                          
bleach  
boto3                                
botocore                                
certifi                                 
cffi                                    
charset-normalizer                      
colorama                                
cryptography                            
debugpy                                 
decorator                               
defusedxml                              
dill                                    
docutils                                
entrypoints                             
executing                               
fastjsonschema                          
h11                                     
idna                                    
ipykernel                               
ipython                                 
ipython-genutils                        
ipywidgets                              
jedi                                    
Jinja2                                  
jmespath                                
jsonschema                              
jupyter                                 
jupyter-client                          
jupyter-console                         
jupyter-core                            
jupyterlab-pygments                     
jupyterlab-widgets                      
lxml                                    
MarkupSafe                              
matplotlib-inline                       
mistune                                 
nbclient                                
nbconvert                               
nbformat                                
nest-asyncio                            
notebook                                
numpy                                   
outcome                                 
packaging                               
pandas                                  
pandocfilters                           
parso                                   
pexpect                                 
pickleshare                             
prometheus-client                       
prompt-toolkit                          
psutil                                  
ptyprocess                              
pure-eval                               
pyasn1                                  
pybrowsers                              
pycparser                               
Pygments                                
pyOpenSSL                               
pyparsing                               
pyrsistent                              
PySocks                                 
python-dateutil                         
python-dotenv                           
pytz                                    
PyYAML                                  
pyzmq                                   
qtconsole                               
QtPy                                    
requests                                
rsa                                     
s3transfer                              
selenium                                
Send2Trash                              
six                                     
sniffio                                 
sortedcontainers                        
soupsieve                               
stack-data                              
terminado                               
tinycss2                                
tornado                                 
traitlets                               
trio                                    
trio-websocket  
tqdm                        
urllib3                                 
wcwidth                                 
webdriver-manager                       
webencodings                            
widgetsnbextension                      
wsproto                                 
