AWS_REGION=us-west-2
AWS_ACCOUNT_ID=123456789012

ECR_REPOSITORY=ds-jobs-scraper
IMAGE_TAG=latest
IMAGE_PLATFORM=linux/amd64
ECS_CPU_ARCHITECTURE=X86_64

ECS_CLUSTER=ds-jobs-cluster
ECS_TASK_FAMILY=ds-jobs-scraper
CONTAINER_NAME=ds-jobs-scraper
LOG_GROUP=/ecs/ds-jobs-scraper

TASK_CPU=1024
TASK_MEMORY=5120

ECS_TASK_EXEC_ROLE_ARN=arn:aws:iam::123456789012:role/ecsTaskExecutionRole
ECS_TASK_ROLE_ARN=arn:aws:iam::123456789012:role/ds-jobs-task-role

SUBNET_IDS=subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy
SECURITY_GROUP_IDS=sg-xxxxxxxxxxxxxxxxx
ASSIGN_PUBLIC_IP=ENABLED

S3_PREFIX=s3://your-bucket-name/data
LINKEDIN_USER_PARAM=linkedin_user
LINKEDIN_PWD_PARAM=linkedin_pwd
LOGIN_WAIT_SECONDS=120

SCHEDULE_NAME=ds-jobs-daily
SCHEDULE_EXPRESSION='cron(0 18 * * ? *)'
SCHEDULE_TIMEZONE=America/Los_Angeles
SCHEDULER_ROLE_ARN=arn:aws:iam::123456789012:role/ds-jobs-scheduler-role
#MAX_RETRY_ATTEMPTS=0
